<table id='dmgTable'>
	<thead>
		<tr>
			<th style="text-decoration:underline"> PKMN Number </th>
			<th> Type I </th>
			<th> Type II</th>
			<th> Normal </th>
			<th> Fire </th>
			<th> Water </th>
			<th> Electric </th>
			<th> Grass </th>
			<th> Ice </th>
			<th> Fighting </th>
			<th> Poison </th>
			<th> Ground </th>
			<th> Flying </th>
			<th> Psychic </th>
			<th> Bug </th>
			<th> Rock </th>
			<th> Ghost </th>
			<th> Dragon </th>
			<th> Dark </th>
			<th> Steel </th>
			<th> Fairy </th>
			<th> Delete Row </th>
		</tr>
	</thead>
	<tbody>
		{{#each data}}
		<tr>
			<td> {{this.fk_did}} </td>
			<td> {{this.typeI}} </td>
			<td> {{this.typeII}} </td>
			<td> {{this.normal}} </td>
			<td> {{this.fire}} </td>
			<td> {{this.water}} </td>
			<td> {{this.electric}} </td>
			<td> {{this.grass}} </td>
			<td> {{this.ice}} </td>
			<td> {{this.fight}} </td>
			<td> {{this.poison}} </td>
			<td> {{this.ground}} </td>
			<td> {{this.flying}} </td>
			<td> {{this.psychic}} </td>
			<td> {{this.bug}} </td>
			<td> {{this.rock}} </td>
			<td> {{this.ghost}} </td>
			<td> {{this.dragon}} </td>
			<td> {{this.dark}} </td>
			<td> {{this.steel}} </td>
			<td> {{this.fairy}} </td>
            <td><input type="button" name={{this.fk_did}} id="pkdataDelete" value="Delete" onclick="deleteRow(this, {{this.fk_did}})"/></td>
		</tr>
		{{/each}}
	</tbody>
</table>
<script>
function deleteRow(row, id)
{
    var req = new XMLHttpRequest();
    var url = 'http://flip3.engr.oregonstate.edu:5445/dmgDelete?fk_did=' + id; 
    req.open('POST', url);
            var payload ={
                fk_did: id
            };
            console.log(JSON.stringify(payload));
            req.send(JSON.stringify(payload)); //send JSON string-formatted object
            event.preventDefault();
    var i=row.parentNode.parentNode.rowIndex;
    document.getElementById('dmgTable').deleteRow(i);
    
    
}
</script>